In [9]:
import pandas as pd

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [2]:
movies = pd.read_csv('movies_data.csv',usecols=['movieId','title'])
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [3]:
ratings = pd.read_csv('movie_ratings.csv',usecols=['userId','movieId','rating'])
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [4]:
movies_users = ratings.pivot(index='movieId',columns='userId',values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
from scipy.sparse import csr_matrix

In [6]:
mat_movies = csr_matrix(movies_users.values)
mat_movies

<9724x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

In [7]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric = 'cosine',algorithm = 'brute',n_neighbors = 20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [8]:
from fuzzywuzzy import process

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [ ]:
def recommender(movie_name,data,n):
    idx = process.extractOne(movie_name,movies['title'])
    print('Movie Selected : ',movies['title'][idx], 'Index : ',idx)
    print('Searching for recommondation .........')
    distance , indices = model.kneighbors(data[idx],n_neighbors=n)
    for i in indices :
        print(movies['title'][i].where(i!=idx))

In [ ]:
recommender('toy story',mat_movies,10)